<a href="https://colab.research.google.com/github/rayPriyanka1/Research-Through-Data-Science/blob/main/Day%203/Assignment_3_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Student Performance Dataset Analysis
Dataset Information
Student Performance Dataset (StudentsPerformance.csv)

1000 students with academic performance data
8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score
Score Range: 0-100 for each subject
Demographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none
"""

In [2]:
from google.colab import files
uploades=files.upload()

Saving StudentsPerformance.csv to StudentsPerformance.csv

# **TASK 1.1: Data Loading and Exploration**

In [3]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd

# Load the dataset
df = pd.read_csv('StudentsPerformance.csv')

# Your tasks:
# 1. Display first 10 rows
# 2. Show dataset shape and info()
# 3. Display unique values in each categorical column
# 4. Show basic statistics for all score columns

# Your code here:

In [ ]:
#1.display first 10 rows
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [ ]:
# 2. Show dataset shape and info()


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
df.shape

(1000, 8)

In [ ]:
#3. Display unique values in each categorical column

print(df['gender'].unique())
print(df['race/ethnicity'].unique())
print(df['test preparation course'].unique())
print(df['lunch'].unique())

['female' 'male']
['group B' 'group C' 'group A' 'group D' 'group E']
['none' 'completed']
['standard' 'free/reduced']

In [ ]:
## 4. Show basic statistics for all score columns
df['math score'].describe()

count    1000.00000
mean       66.08900
std        15.16308
min         0.00000
25%        57.00000
50%        66.00000
75%        77.00000
max       100.00000
Name: math score, dtype: float64

In [ ]:
df['reading score'].describe()

count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading score, dtype: float64

In [ ]:

df['writing score'].describe()

count    1000.000000
mean       68.054000
std        15.195657
min        10.000000
25%        57.750000
50%        69.000000
75%        79.000000
max       100.000000
Name: writing score, dtype: float64

# **TASK 1.2: NumPy Array Operations**

In [ ]:
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
# 2. Find total students who scored above 80 in math
# 3. Find total students who scored below 50 in any subject
# 4. Calculate the overall average score across all three subjects

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:

In [ ]:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
mean=np.mean(math_scores)
print("mean:",mean)
median=np.median(math_scores)
print("median:",median)
std=np.std(math_scores)
print("std:",std)
max=np.max(math_scores)
print("max:",max)
min=np.min(math_scores)
print("min:",min)

mean: 66.089
median: 66.0
std: 15.155496659628149
max: 100
min: 0

In [ ]:
# 2. Find total students who scored above 80 in math
print('total students who scored above 80 in math:')
print((df['math score'] > 80).sum())

total students who scored above 80 in math:
176

In [ ]:
# 3. Find total students who scored below 50 in any subject


below_50= (df['math score'] < 50) | (df['reading score'] < 50) | (df['reading score'] < 50)
total_student=below_50.sum()
print(' total students who scored below 50 in any subject: ',total_student)

 total students who scored below 50 in any subject:  166

In [ ]:
# 4. Calculate the overall average score across all three subjects
math_avg=np.mean(math_scores)
writting_avg=np.mean(writing_scores)
reading_avg=np.mean(reading_scores)
overall_avg=(math_avg + writting_avg + reading_avg)/3

print(overall_avg)

67.77066666666667

# **Task 2.1: Identify and Handle Missing Data**

In [ ]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
# 2. Check for any impossible values (scores > 100 or < 0)
# 3. Display summary of data quality

# Note: This dataset is clean, but let's verify!

# Your code here:

In [ ]:
# 1. Check for null values in each column using .isnull().sum()
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
# 2. Check for any impossible values (scores > 100 or < 0)
impossible = ((df['math score'] > 100) | (df['math score'] < 0) |
              (df['reading score'] > 100) | (df['reading score'] < 0) |
              (df['writing score'] > 100) | (df['writing score'] < 0))
print(impossible.sum())

0

In [59]:
# 3. Display summary of data quality
#percentage of missing values
df.isnull().mean()*100

gender                         0.0
race/ethnicity                 0.0
parental level of education    0.0
lunch                          0.0
test preparation course        0.0
                              ...
92                             0.0
133                            0.0
55                             0.0
total_score                    0.0
total                          0.0
Length: 204, dtype: float64

In [62]:
#is there any zero
print((df == 0).sum())

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
                              ..
92                             0
133                            0
55                             0
total_score                    0
total                          0
Length: 204, dtype: int64

In [63]:
print(df.describe())

       math score  reading score  writing score     218     247     278  \
count  1000.00000    1000.000000    1000.000000  1000.0  1000.0  1000.0
mean     66.08900      69.169000      68.054000   218.0   247.0   278.0
std      15.16308      14.600192      15.195657     0.0     0.0     0.0
min       0.00000      17.000000      10.000000   218.0   247.0   278.0
25%      57.00000      59.000000      57.750000   218.0   247.0   278.0
50%      66.00000      70.000000      69.000000   218.0   247.0   278.0
75%      77.00000      79.000000      79.000000   218.0   247.0   278.0
max     100.00000     100.000000     100.000000   218.0   247.0   278.0

          148     229     232     275  ...     137     103     290     281  \
count  1000.0  1000.0  1000.0  1000.0  ...  1000.0  1000.0  1000.0  1000.0
mean    148.0   229.0   232.0   275.0  ...   137.0   103.0   290.0   281.0
std       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
min     148.0   229.0   232.0   275.0  ...   137.0   103.0   290.0   281.0
25%     148.0   229.0   232.0   275.0  ...   137.0   103.0   290.0   281.0
50%     148.0   229.0   232.0   275.0  ...   137.0   103.0   290.0   281.0
75%     148.0   229.0   232.0   275.0  ...   137.0   103.0   290.0   281.0
max     148.0   229.0   232.0   275.0  ...   137.0   103.0   290.0   281.0

          288      92     133      55  total_score        total
count  1000.0  1000.0  1000.0  1000.0  1000.000000  1000.000000
mean    288.0    92.0   133.0    55.0   203.312000   203.312000
std       0.0     0.0     0.0     0.0    42.771978    42.771978
min     288.0    92.0   133.0    55.0    27.000000    27.000000
25%     288.0    92.0   133.0    55.0   175.000000   175.000000
50%     288.0    92.0   133.0    55.0   205.000000   205.000000
75%     288.0    92.0   133.0    55.0   233.000000   233.000000
max     288.0    92.0   133.0    55.0   300.000000   300.000000

[8 rows x 199 columns]

In [65]:
print("Data types")
df.dtypes

Data types

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
                                ...
92                              int64
133                             int64
55                              int64
total_score                     int64
total                           int64
Length: 204, dtype: object

# **Task 2.2: Create and Fix Missing Value**

In [66]:
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
print("Original missing values before any chsnge:", df_practice.isnull().sum())
print("\n")
# Step 2: Create missing data
np.random.seed(42)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)
print("Chosen rows for math NaN (sample):", missing_math_idx[:10])
print("Chosen rows for writing NaN (sample):", missing_writing_idx[:10])
print("\n")
# Set those values to NaN
df_practice.loc[missing_math_idx, 'math score'] = np.nan
df_practice.loc[missing_writing_idx, 'writing score'] = np.nan

#Check missing values created or not
print("Missing values after insertion:\n ", df_practice.isnull().sum())
print("\n")
#Fill missing math scores with MEDIAN
median_math = df_practice['math score'].median()
df_practice['math score'].fillna(median_math, inplace=True)

#Fill missing writing scores with MEAN
mean_writing = df_practice['writing score'].mean()
df_practice['writing score'].fillna(mean_writing, inplace=True)

# 6. Verify no missing values remain
print("\nMissing values after filling:\n", df_practice.isnull().sum())

Original missing values before any chsnge: gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
                              ..
92                             0
133                            0
55                             0
total_score                    0
total                          0
Length: 204, dtype: int64


Chosen rows for math NaN (sample): [521 737 740 660 411 678 626 513 859 136]
Chosen rows for writing NaN (sample): [ 93 692 100 562 729 924 393 685 738 264]


Missing values after insertion:
  gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
                              ..
92                             0
133                            0
55                             0
total_score                    0
total                          0
Length: 204, dtype: int64



Missing values after filling:
 gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
                              ..
92                             0
133                            0
55                             0
total_score                    0
total                          0
Length: 204, dtype: int64

/tmp/ipython-input-2339085448.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_practice['math score'].fillna(median_math, inplace=True)
/tmp/ipython-input-2339085448.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_practice['writing score'].fillna(mean_writing, inplace=True)

# **Task 3.1:Answer Simple Questions About Student Performance**

In [ ]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()
# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB


# **TASK 3.2: Basic Groupby Analysis**

In [ ]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students

# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

# Your code here:

In [23]:
# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students
df.groupby('gender')[['math score','writing score','reading score']].mean()

        math score  writing score  reading score
gender
female   63.633205      72.467181      72.608108
male     68.728216      63.311203      65.473029

In [21]:
df.groupby('gender').size()

gender
female    518
male      482
dtype: int64

In [25]:
#2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

print(df.groupby('test preparation course')[['math score','writing score','reading score']].mean())

                         math score  writing score  reading score
test preparation course
completed                 69.695531      74.418994      73.893855
none                      64.077882      64.504673      66.534268

In [26]:
#- Show which subject benefits most from test prep
mean=df.groupby('test preparation course')[['math score','writing score','reading score']].mean()
benefits=mean.loc['completed']-mean.loc['none']
print(benefits)

math score       5.617649
writing score    9.914322
reading score    7.359587
dtype: float64

so writting score benefits most

In [ ]:
# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

In [27]:
print(df.groupby('parental level of education')['math score'].mean())

parental level of education
associate's degree    67.882883
bachelor's degree     69.389831
high school           62.137755
master's degree       69.745763
some college          67.128319
some high school      63.497207
Name: math score, dtype: float64

In [31]:
# - Rank education levels by math performance
print(df.groupby('parental level of education')['math score'].mean().sort_values(ascending=False))

parental level of education
master's degree       69.745763
bachelor's degree     69.389831
associate's degree    67.882883
some college          67.128319
some high school      63.497207
high school           62.137755
Name: math score, dtype: float64

In [32]:
# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

print(df.groupby('lunch')[['math score','writing score','reading score']].mean())

              math score  writing score  reading score
lunch
free/reduced   58.921127      63.022535      64.653521
standard       70.034109      70.823256      71.654264

In [37]:
 #- Count of students in each lunch category
df['lunch'].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [ ]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average

# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance

In [41]:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average

avg=df.groupby('gender')['math score'].mean()

print("average value in math of male and female:\n ", avg)

average value in math of male and female:
  gender
female    63.633205
male      68.728216
Name: math score, dtype: float64

In [42]:
diff=avg.loc['male']-avg.loc['female']
print("difference of their avarage score in math:\n",diff)

difference of their avarage score in math:
 5.095011134430216

So male perform better than female in math

In [45]:
# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score


avg=df[['math score','writing score','reading score']].mean()
print(avg)

math score       66.089
writing score    68.054
reading score    69.169
dtype: float64

In [47]:
print(avg.sort_values(ascending=False))

reading score    69.169
writing score    68.054
math score       66.089
dtype: float64

In [56]:

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance

df['total'] = df['math score'] + df['reading score'] + df['writing score']
avg_total=df.groupby('parental level of education')['total'].mean()
print(avg_total)

parental level of education
associate's degree    208.707207
bachelor's degree     215.771186
high school           189.290816
master's degree       220.796610
some college          205.429204
some high school      195.324022
Name: total, dtype: float64

In [57]:
print(avg_total.sort_values(ascending=False))

parental level of education
master's degree       220.796610
bachelor's degree     215.771186
associate's degree    208.707207
some college          205.429204
some high school      195.324022
high school           189.290816
Name: total, dtype: float64

masters degree leads to highest student performance