<a href="https://colab.research.google.com/github/rayPriyanka1/Research-Through-Data-Science/blob/main/DAY%205/Assignment_5_Data_Preprocessing_and_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loading and Exploring the Dataset**

In [2]:
#Load the Data
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# TODO: Load the housing data
from google.colab import drive
import warnings
warnings.filterwarnings('ignore')
from google.colab import drive
drive.mount('/content/drive')
df =pd.read_csv('/content/drive/MyDrive/Datasets/Housing.csv')


# TODO: How many houses are there?
print(f"Number of houses:",len(df))

# TODO: Show first 3 houses
print("First 3 houses:",df.head(3))

Mounted at /content/drive
Number of houses: 545
First 3 houses:       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished

In [3]:
# Look at Columns
# TODO: Show all column names
print("Columns:")
df.columns
# Your code here

Columns:

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

# **Encoding**

In [5]:
#Convert Yes/No to 1/0
# Check what's in our data
print("Current mainroad values:", df['mainroad'].head())
# Shows: yes, no, yes, yes, no

# Models need numbers, not text!
# We need: yes → 1, no → 0

Current mainroad values: 0    yes
1    yes
2    yes
3    yes
4    yes
Name: mainroad, dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder

# For yes/no or male/female (2 categories only)
label_encoder = LabelEncoder()

# Convert 'mainroad' column
df['mainroad_encoded'] = label_encoder.fit_transform(df['mainroad'])
print("\nAfter Label Encoding 'Mainroad':")
print(df[['mainroad', 'mainroad_encoded']])

After Label Encoding 'Mainroad':
    mainroad  mainroad_encoded
0        yes                 1
1        yes                 1
2        yes                 1
3        yes                 1
4        yes                 1
..       ...               ...
540      yes                 1
541       no                 0
542      yes                 1
543       no                 0
544      yes                 1

[545 rows x 2 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

# For yes/no or male/female (2 categories only)
label_encoder = LabelEncoder()

# Convert 'guestroom' column
df['guestroom_encoded'] = label_encoder.fit_transform(df['guestroom'])
print("\nAfter Label Encoding 'guestroom':")
print(df[['guestroom', 'guestroom_encoded']])

After Label Encoding 'guestroom':
    guestroom  guestroom_encoded
0          no                  0
1          no                  0
2          no                  0
3          no                  0
4         yes                  1
..        ...                ...
540        no                  0
541        no                  0
542        no                  0
543        no                  0
544        no                  0

[545 rows x 2 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder

# For yes/no or male/female (2 categories only)
label_encoder = LabelEncoder()

# Convert 'basement' column
df['basement_encoded'] = label_encoder.fit_transform(df['basement'])
print("\nAfter Label Encoding 'basement':")
print(df[['basement', 'basement_encoded']])

After Label Encoding 'basement':
    basement  basement_encoded
0         no                 0
1         no                 0
2        yes                 1
3        yes                 1
4        yes                 1
..       ...               ...
540      yes                 1
541       no                 0
542       no                 0
543       no                 0
544       no                 0

[545 rows x 2 columns]

In [9]:
from sklearn.preprocessing import LabelEncoder

# For yes/no or male/female (2 categories only)
label_encoder = LabelEncoder()

# Convert 'hotwaterheating' column
df['hotwaterheating_encoded'] = label_encoder.fit_transform(df['hotwaterheating'])
print("\nAfter Label Encoding 'hotwaterheating':")
print(df[['hotwaterheating', 'hotwaterheating_encoded']])

After Label Encoding 'hotwaterheating':
    hotwaterheating  hotwaterheating_encoded
0                no                        0
1                no                        0
2                no                        0
3                no                        0
4                no                        0
..              ...                      ...
540              no                        0
541              no                        0
542              no                        0
543              no                        0
544              no                        0

[545 rows x 2 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder

# For yes/no or male/female (2 categories only)
label_encoder = LabelEncoder()

# Convert 'airconditioning' column
df['airconditioning_encoded'] = label_encoder.fit_transform(df['airconditioning'])
print("\nAfter Label Encoding 'airconditioning':")
print(df[['airconditioning', 'airconditioning_encoded']])

After Label Encoding 'airconditioning':
    airconditioning  airconditioning_encoded
0               yes                        1
1               yes                        1
2                no                        0
3               yes                        1
4               yes                        1
..              ...                      ...
540              no                        0
541              no                        0
542              no                        0
543              no                        0
544              no                        0

[545 rows x 2 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

# For yes/no or male/female (2 categories only)
label_encoder = LabelEncoder()

# Convert 'prefarea' column
df['prefarea_encoded'] = label_encoder.fit_transform(df['prefarea'])
print("\nAfter Label Encoding 'prefarea':")
print(df[['prefarea', 'prefarea_encoded']])

After Label Encoding 'prefarea':
    prefarea  prefarea_encoded
0        yes                 1
1         no                 0
2        yes                 1
3        yes                 1
4         no                 0
..       ...               ...
540       no                 0
541       no                 0
542       no                 0
543       no                 0
544       no                 0

[545 rows x 2 columns]

In [18]:

# One-Hot Encoding using pandas
furnishingstatus_encoded = pd.get_dummies(df['furnishingstatus'], prefix='furnishingstatus')
print("\nOne-Hot Encoding for 'furnishingstatus':")
print(furnishingstatus_encoded)
# Creates separate columns for each furniture type

# Add to original data
df = pd.concat([df, furnishingstatus_encoded], axis=1)
print("\nFinal data with all encodings:")
df = df.drop(columns=df.select_dtypes(include='object').columns) #drop object type column
print(df)

One-Hot Encoding for 'furnishingstatus':
     furnishingstatus_furnished  furnishingstatus_semi-furnished  \
0                          True                            False
1                          True                            False
2                         False                             True
3                          True                            False
4                          True                            False
..                          ...                              ...
540                       False                            False
541                       False                             True
542                       False                            False
543                        True                            False
544                       False                            False

     furnishingstatus_unfurnished
0                           False
1                           False
2                           False
3                           False
4                           False
..                            ...
540                          True
541                         False
542                          True
543                         False
544                          True

[545 rows x 3 columns]

Final data with all encodings:
        price  area  bedrooms  bathrooms  stories  parking  mainroad_encoded  \
0    13300000  7420         4          2        3        2                 1
1    12250000  8960         4          4        4        3                 1
2    12250000  9960         3          2        2        2                 1
3    12215000  7500         4          2        2        3                 1
4    11410000  7420         4          1        2        2                 1
..        ...   ...       ...        ...      ...      ...               ...
540   1820000  3000         2          1        1        2                 1
541   1767150  2400         3          1        1        0                 0
542   1750000  3620         2          1        1        0                 1
543   1750000  2910         3          1        1        0                 0
544   1750000  3850         3          1        2        0                 1

     guestroom_encoded  basement_encoded  hotwaterheating_encoded  \
0                    0                 0                        0
1                    0                 0                        0
2                    0                 1                        0
3                    0                 1                        0
4                    1                 1                        0
..                 ...               ...                      ...
540                  0                 1                        0
541                  0                 0                        0
542                  0                 0                        0
543                  0                 0                        0
544                  0                 0                        0

     airconditioning_encoded  prefarea_encoded  furnishingstatus_furnished  \
0                          1                 1                        True
1                          1                 0                        True
2                          0                 1                       False
3                          1                 1                        True
4                          1                 0                        True
..                       ...               ...                         ...
540                        0                 0                       False
541                        0                 0                       False
542                        0                 0                       False
543                        0                 0                        True
544                        0                 0                       False

     furnishingstatus_semi-furnished  furnishingstatus_unfurnished  \
0                              False                         False
1                              False                         False
2                               True                         False
3                              False                         False
4                              False                         False
..                               ...                           ...
540                            False                          True
541                             True                         False
542                            False                          True
543                            False                         False
544                            False                          True

     furnishingstatus_furnished  furnishingstatus_semi-furnished  \
0                          True                            False
1                          True                            False
2                         False                             True
3                          True                            False
4                          True                            False
..                          ...                              ...
540                       False                            False
541                       False                             True
542                       False                            False
543                        True                            False
544                       False                            False

     furnishingstatus_unfurnished
0                           False
1                           False
2                           False
3                           False
4                           False
..                            ...
540                          True
541                         False
542                          True
543                         False
544                          True

[545 rows x 18 columns]

# **Train-Test Split**

In [19]:
# Split into Train and Test
# TODO: Split - 80% train, 20% test
# Separate input (X) and output (y)
X = df.drop('price', axis=1)  # Everything except Price
y = df['price']                # Only Price



# Split: 80% for training, 20% for testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,    # 20% for test
    random_state=20   # Same result every time
)

print(f"\nWe will train with: {len(X_train)} houses")
print(f"We will test with: {len(X_test)} houses")

We will train with: 436 houses
We will test with: 109 houses

In [21]:
#Apply StandardScaler
# Area is huge (1650-13300), Bedrooms is small (1-6)!
#Your Code here
X_train.dtypes

area                               int64
bedrooms                           int64
bathrooms                          int64
stories                            int64
parking                            int64
mainroad_encoded                   int64
guestroom_encoded                  int64
basement_encoded                   int64
hotwaterheating_encoded            int64
airconditioning_encoded            int64
prefarea_encoded                   int64
furnishingstatus_furnished          bool
furnishingstatus_semi-furnished     bool
furnishingstatus_unfurnished        bool
furnishingstatus_furnished          bool
furnishingstatus_semi-furnished     bool
furnishingstatus_unfurnished        bool
dtype: object

all the column are successfully converted!!!! Ready for scaling

# **StandardScaling**

In [26]:
# Create scaler
scaler = StandardScaler()

# Learn from training data and scale it
X_train_scaled = scaler.fit_transform(X_train)

# Scale test data (just transform, don't fit)
X_test_scaled = scaler.transform(X_test)

print("\nAfter scaling:")
print("All features now have similar range!")
print(f"Example - First house area before scaling: {X_train.values[0][0]}")
print(f"Example - First house area after scaling: {X_train_scaled[0][0]:.2f}")

After scaling:
All features now have similar range!
Example - First house area before scaling: 4280
Example - First house area after scaling: -0.40

# **Model Train**

In [31]:
#train and test model


from sklearn.linear_model import LogisticRegression

# Create model
model = LogisticRegression(max_iter=1000)

# Train the model
model.fit(X_train_scaled, y_train)
print("✅ Model trained!")

# Check accuracy on training data
train_score = model.score(X_train_scaled, y_train)
print(f"Training accuracy: {train_score:.1%}")

# Check accuracy on test data
test_score = model.score(X_test_scaled, y_test)
print(f"Test accuracy: {test_score:.1%}")

✅ Model trained!
Training accuracy: 47.9%
Test accuracy: 1.8%

# **Save**

In [28]:
import joblib

# Save the model
joblib.dump(model, 'my_model.pkl')
print("✅ Model saved as 'my_model.pkl'")

# Save the scaler
joblib.dump(scaler, 'my_scaler.pkl')
print("✅ Scaler saved as 'my_scaler.pkl'")

# Save scaled data as CSV
pd.DataFrame(X_train_scaled).to_csv('train_data_scaled.csv', index=False)
print("✅ Scaled data saved as 'train_data_scaled.csv'")

✅ Model saved as 'my_model.pkl'
✅ Scaler saved as 'my_scaler.pkl'
✅ Scaled data saved as 'train_data_scaled.csv'

# **Predict New house Price**

In [ ]:
# Predict a House Price
# New house details:
# area=5000, bedrooms=3, bathrooms=2, stories=2,
# mainroad=yes, guestroom=no, basement=yes,
# hotwaterheating=no, airconditioning=yes,
# parking=2, prefarea=yes, furnishingstatus=furnished
#your code here

In [30]:
# Load saved model and scaler
model = joblib.load('my_model.pkl')
scaler = joblib.load('my_scaler.pkl')

# New house data (12 features)
import pandas as pd

new_house = pd.DataFrame([{
    "area": 5000,
    "bedrooms": 3,
    "bathrooms": 2,
    "stories": 2,
    "mainroad_encoded": 1,
    "guestroom_encoded": 0,
    "basement_encoded": 1,
    "hotwaterheating_encoded": 0,
    "airconditioning_encoded": 1,
    "parking": 2,
    "prefarea_encoded": 1,
    "furnishingstatus_furnished": 1,
    "furnishingstatus_semi-furnished": 0,
    "furnishingstatus_unfurnished": 0
}])[X_train.columns]
new_house_scaled = scaler.transform(new_house)
predicted_price = model.predict(new_house_scaled)
print("Predicted house price:", predicted_price[0])

Predicted house price: 12215000