<a href="https://colab.research.google.com/github/rayPriyanka1/Research-Through-Data-Science/blob/main/Day2/Day2_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2.1. Create variables for your name, age, and favorite color, then print them with descriptive labels.**

In [26]:
name="Priyanka"
age=22
favorite_color="Blue"
print("Name:",name)
print("Age",age)
print("Favourite Color is:",favorite_color)

Name: Priyanka
Age 22
Favourite Color is: Blue

**2.2 Create one variable of each type and use the type() function to verify its type.**

In [ ]:
name="Priyanka"
age=22
favorite_color="Blue"
price = 99.99
is_valid = True
list=[1,2,3,4]
print(type(name))
print(type(age))
print(type(favorite_color))
print(type(is_valid))
print(type(list))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>

**2.3 Calculate the area and perimeter of a rectangle with length 7 and width 5.**

In [ ]:
length=7
width=5
area=length*width
perimeter=2*(length+width)
print("Area is ",area)
print("Perimeter is ",perimeter)

Area is  35
Perimeter is  24

**2.4. Create a list of 5 Bangladeshi foods, then access the first and Create a list of 5 Bangladeshi foods, then access the first and last fruit**

In [ ]:
fruits=['Apple','Mango','Banana','Orange','Lichi']
print("First fruits in list is " ,fruits[0])
print("Last fruits in list is ",fruits[-1])

First fruits in list is  Apple
Last fruits in list is  Lichi

**2.5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.**

In [ ]:
list=[7,2,5,1,3]
list.append(6)
list.remove(2)
list.sort()
print(list)

[1, 3, 5, 6, 7]

**2.6. Create a dictionary about yourself with at least 4 key-value pairs.**

In [ ]:
myself={
    "name":"Priyanka",
    "Age":22,
    "university": "SUB",
    "email":"priyankaray.d20@gmail.com"

}
print(myself)

{'name': 'Priyanka', 'Age': 22, 'university': 'SUB', 'email': 'priyankaray.d20@gmail.com'}

**2.7. Create a tuple with the latitude and longitude of a famous place in Bangladesh**

In [25]:
dhaka_location = (23.8103, 90.4125)

print("Latitude and Longitude of Dhaka are :", dhaka_location)

Latitude and Longitude of Dhaka are : (23.8103, 90.4125)

**2.8.  Create two sets of colors and find their union and intersection.**

In [22]:
set1={"red","green","white"}
set2={"blue","white","purple"}
Ans1=set1|set2
Ans2=set1 & set2
print("set1 union set2 is ",Ans1)
print("set1 intersection set2 is ",Ans2)

set1 union set2 is  {'red', 'green', 'blue', 'purple', 'white'}
set1 intersection set2 is  {'white'}

2.9.Write a Program that checks if a number positive, negetive or zero

In [5]:
number=int(input("Enter the number: "))
if number>0:
    print(" Given number is positive!")
elif number<0:
    print(" Given number is Negetive!")
else:
    print(" Given number is Zero!!")

Enter the number: 0
 Given number is Zero!!

2.10.Write A Program Eligibility for a Discount( Student AND under 25, OR senior over 60)

In [20]:

is_student = input("Are you a student? (yes/no): ").lower()
age = int(input("Enter your age: "))

if (is_student == 'yes' and age < 25) or (age > 60):
    print("You are eligible.")
else:
    print("Sorry, you are not eligible.")

Are you a student? (yes/no): yes
Enter your age: 20
You are eligible.

2.11.Write a Program that prints the first 100 even numbers using for loop

In [8]:

print("All the even numbers from 1 to 100")
for i in range(1,101):
    if i%2==0:
        print(i)

All the even numbers from 1 to 100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

2.12.Write a Program to print simple pyramid pattern using the nested loop

In [18]:
n=int(input("Number of rows "))
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(2*i-1):
        print("*",end="")
    print()

Number of rows 5
    *
   ***
  *****
 *******
*********

**2.13. Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32**

In [3]:
def converter(c):
    temp=9/5
    F=(c*temp)+32
    return F
c=float(input("Enter the temperature in Celcius: "))
result=converter(c)
print(" Temperatures in farherniate: ",result, "°","F")

Enter the temperature in Celcius: 29
 Temperatures in farherniate:  84.2 ° F

**2.14 Try it yourself: Create a function with default parameters that calculates the area of a rectangle.**

In [ ]:
def rectangularArea(l=5,w=3):
    return l*w
print("Area with default value: ",rectangularArea())
a=int(input("enter a: "))
b=int(input("enter b: "))
print("Area with custom value: ",rectangularArea(a,b))

Area with default value:  15
enter a: 10
enter b: 10
Area with custom value:  100